<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('partials/header') %>

    <main>

        <h2>Project Details</h2>
        <h2><%= project.title %></h2>
        <p><strong>Description:</strong> <%= project.description %></p>
        <p><strong>Date:</strong> <%= project.project_date %></p>
        <p><strong>Location:</strong> <%= project.location %></p>
        <p><strong>Organization:</strong> <%= project.organization_name %></p>
    
    </main>

    <%- include('partials/footer') %>

</body>
</html>